@using DropDownASPCore6.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <label class="form-label">Select Gender</label>
@Html.DropDownList("Gender",
Html.GetEnumSelectList<Gender>(),"Select Gender",
new {@class="form-control"})
 *@
@* 
<label class="form-label">Select Gender</label>
@Html.DropDownList("Gender",
ViewBag.Gender,"Select Gender",
new {@class="form-control"})
 *@

<label class="form-label">Select Gender:</label>
<select name="Gender" asp-items="@ViewBag.Gender" class="form-control">
    <option value="">Select Gender</option>
</select>