<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:yellow;">
        <h1>Header Portion</h1>
    </header>

        @RenderBody()

    <footer style="background-color:aqua;">
        <h1>Footer Portion</h1>
    </footer>
    
</body>
</html>
