@model BindDropDownWithDatabase.Models.StudentModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="index" method="post">
<label class="form-label">Select Student Name</label>
@* <select asp-for="Id" class="form-control" asp-items="@(new SelectList(Model.StudentList,"Value","Text"))">

</select> *@

    @Html.DropDownListFor(x=>x.Id,
    new SelectList(Model.StudentList,"Value","Text"),
    new {@class="form-control"})
<br />
<input type="submit" value="Submit" class="btn btn-success"/>
</form>
<br />
@{
    if (ViewBag.selectedValue != null)
    {
        <h2>Select Student Name: @ViewBag.selectedValue</h2>
    }
}