
@{
    ViewData["Title"] = "Contact";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Page</h1>
<p>This is my Contact US page.</p>

@ViewData["data1"]
@ViewBag.data2
@TempData["data3"]