@model TagHelpersDemo.Models.Employee;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form class="d-grid" asp-action="Index" asp-controller="Home" method="post">
             <label asp-for="Name">Enter Name:</label>
             <input asp-for="Name" placeholder="Enter Name" class="form-control" />
             <br />
             <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                <option value="">Select Gender</option>
             </select>
             <input asp-for="Age" placeholder="Enter Age" class="form-control"   />
             <br />
             <input asp-for="Designation" placeholder="Enter Designation" class="form-control" />
             <br />
             <input asp-for="Salary" placeholder="Enter Salary" class="form-control" />
             <br />
             <label>
                 Married:
             </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="Yes">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="No">
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
                <br/>
                <textarea asp-for="Description" class="form-control" placeholder="Enter Description" rows="5">
                </textarea>
                <br />
             <input type="submit" value="Submit" class="btn btn-outline-primary" />
         </form>
        </div>
    </div>

</div>



@* <a href="/Home/Contact">Contact Page 1 </a>
<br />
@Html.ActionLink("Contact Page 2","Contact","Home")
<br />
<a href="@Url.Action("Contact","Home")">Contact Page 3</a>
<br />
<a asp-controller="Home" asp-action="Contact">Contact Page 4</a>
 *@
@* 
<a href="/Home/Edit/1">Edit Page 1 </a>
<br />
@Html.ActionLink("Edit Page 2","Edit","Home",new {id=1})
<br />
<a href="@Url.Action("Edit","Home",new {id=1})">Edit Page 3</a>
<br />
<a asp-controller="Home" asp-action="Edit" asp-route-id="1">Edit Page 4 </a>
*@