@model CRUDAppUsingASPCoreWebAPI6.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" readonly />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentName" class="control-label"></label>
                <input asp-for="studentName" class="form-control" />
                <span asp-validation-for="studentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentGender" class="control-label"></label>
                <input asp-for="studentGender" class="form-control" />
                <span asp-validation-for="studentGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="standard" class="control-label"></label>
                <input asp-for="standard" class="form-control" />
                <span asp-validation-for="standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fatherName" class="control-label"></label>
                <input asp-for="fatherName" class="form-control" />
                <span asp-validation-for="fatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
